



body {
    min-height: 100vh;
    background-color: #F9F9FB;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.background-principal{
    background-image: url('../assets/imatges/imagen-opaca.jpg');
    background-size: cover;
    font-family: Open Sans; 

    background-position: center;
}
.background2{
    background-image: url('../assets/imatges/chap6_ent_sprint-1920x1080.png');
    background-size: cover;
    background-position: center ;
}
.background3{
  background-image: url('../assets/imatges/chap4_ent_sprint-1920x1080.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}
.background4{
  background-image: url('../assets/imatges/chap1_ent_sprint-1920x1080.png');
  background-size: cover;
  background-position: center ;
}
.background5{
  background-image: url('../assets/imatges/Ch2-Design-Sprints-Final-1764x992.png');
  background-size: cover;
  background-position: center;
  height: 600px;

}
.background6{
  background-image: url('../assets/imatges/designbetter_website_book_assets_illustrations_principlesofproductdesign_breaktheblackbox-1920x1081.png');
  background-size: cover;
  background-position: center;
  height: 600px;

}

.background7{
  background-image: url('../assets/imatges/background7.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background8{
  background-image: url('../assets/imatges/background8.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background9{
  background-image: url('../assets/imatges/background9.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background10{
  background-image: url('../assets/imatges/background10.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background11{
  background-image: url('../assets/imatges/background11.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background12{
  background-image: url('../assets/imatges/background12.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background13{
  background-image: url('../assets/imatges/background13.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background14{
  background-image: url('../assets/imatges/background14.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background15{
  background-image: url('../assets/imatges/background15.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background16{
  background-image: url('../assets/imatges/background16.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background17{
  background-image: url('../assets/imatges/background17.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background18{
  background-image: url('../assets/imatges/background18.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background19{
  background-image: url('../assets/imatges/background19.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}

.background20{
  background-image: url('../assets/imatges/background20.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  background-repeat: no-repeat;
}



img{width: 100%;}

.carrousell .col-sm-2{
  overflow: hidden;
}

.carrousell .col-sm-2.box{
    width: 80px;
    height: 225px ;
    border: 1px solid #000;
    
}

.carrousell .col-sm-2 img {
  width: 100%;
  height: 100%;
} 


button{
  border: 3px solid rgb(172, 46, 186);
  border-radius: 50px;
  background-color: white;
  color: rgb(172, 46, 186);
  width: 150px;
  height: 50px;
  font-weight: 3px;
}



.background-box{
  background-color: #fff;
  border: 0.5px solid #ede6e6;
  border-radius: 20px;
  display: flex;
}

.email{
  border-radius: 30px;
  border: 0.5px solid #ede6e6;
  background-color: #fff;
  height: 50px;

}

.pink{
  border-radius: 30px;
  background-color: #FF5480;
  color: #fff;
  width: 100px;
  height: 47px;
}

.icons{
  width: 20px;
}

.footer{
  font-size: x-small;
  text-align: right;
}

.footer_img{
  width: 100px;
}

.pageFooter{
  background-color: #fff;
  border: 1px #ede6e6;
}
 .pink{
  background-color: #FF5480;
 }

 .media_1{
  width: 30px;
 }

 .img_border{
  border-radius: 10px;
 }

 .small{
  font-size: x-small;
  color: ;
 }

 .nota{
  color: #9283E0;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 58px; /* 241.667% */
  letter-spacing: -0.15px;
 }

 .email{
  color: #27AEFF;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
 }

 .circulo{
  border-radius: 70px;
  width: 60px;
 }

 button.leave{
  background-color: #fff;
  border-radius: 10px;
  color: #FF5480;
  border: 2px solid #FF5480;
 }

 button.Reply{
  background-color: #fff;
  border-radius: 10px;
  color: #9B9B9B ;
  border: 2px solid #9b9b9b;
  width: 70px;
  height: 50px;
 }

 .box{
  background: #f9f9fb;
  border: 1px solid #9b9b9b;
 }

 .pading{
  padding: 0 0 50px 0;
 }

 .Post{
  background: #FF5480;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #ff5480;
 }