



body {
    min-height: 100vh;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

.background-principal{
    background-image: url('../assets/imatges/imagen-opaca.jpg');
    background-size: cover;
    background-position: center;
}
.background2{
    background-image: url('../assets/imatges/chap6_ent_sprint-1920x1080.png');
    background-size: cover;
    background-position: center ;
}
.background3{
  background-image: url('../assets/imatges/chap4_ent_sprint-1920x1080.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}
.background4{
  background-image: url('../assets/imatges/chap1_ent_sprint-1920x1080.png');
  background-size: cover;
  background-position: center ;
}
.background5{
  background-image: url('../assets/imatges/Ch2-Design-Sprints-Final-1764x992.png');
  background-size: cover;
  background-position: center;
  height: 600px;

}
.background6{
  background-image: url('../assets/imatges/designbetter_website_book_assets_illustrations_principlesofproductdesign_breaktheblackbox-1920x1081.png');
  background-size: cover;
  background-position: center;
  height: 600px;

}

img{width: 100%;}

.carrousell .col-sm-2{
  height: 226px;
  overflow: hidden;
}

.carrousell .col-sm-2.box{
    width: 80px;
    height: 225px ;
    border: 1px solid #000;
    
}
